@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #666;
  font-family: sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

header {
  background-color: silver;
  color: #fff;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

header h1 {
  margin: 0;
  font-size: 4.5em;
  text-align: center;
}

main {
  flex: 1;
  padding: 1.5em;
}

main:after {
  content: "\00a0"; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}

main > article {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

main > article > button {
  align-content: center;
  justify-content: center;
}

main > article > h2 {
  text-align: center;
  color: #777;
  margin-bottom: 1.5em;
}

ul {
  list-style-type: none;
}

footer {
  background-color: silver;
  border-top: 1px solid #666;
  margin-top: 20px;
  padding-top: 30px;
  color: #fff;
  font-size: 1.25em;
  width: 100%;
  flex: none;
  text-align: center;
}

#startGameBtn {
  font-size: 1.5em;
  margin: auto;
}

#gameBoard {
  padding: 10px 0;
  max-width: 920px;
  margin: auto;
}

#letterButtons {
  display: inline-flex;
  list-style-type: none;
  flex-wrap: wrap;
/*  justify-content: space-between;*/
  align-items: center;
}

#letterButtons button:not(last-child) {
  margin: 4px 4px;
  cursor: pointer;
  max-width: 84px;
  min-width: 84px;
}

#letterBoxes li {
  display: inline-flex;
}

#letterBoxes input {
  border: 1px solid #666;
  color: #666;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2em;
  margin-top: 1em;
  padding: 20px 5px;
  text-align: center;
  width: 2em;
}

#message {
  padding-top: 20px;
  font-size: 1.5em;
}

#hangman {
  text-align: center;
}

.btn {
  -moz-user-select: text;
  background-color: #fff;
  background: transparent;
  border-radius: 6px;
  border: 0;
  border: 2px solid #666;
  color: #666;
  cursor: pointer;
  display: block;
  font: inherit;
  line-height: normal;
  margin-bottom: 16px;
  margin: 0;
  overflow: visible;
  padding: 0;
  padding: 16px 36px 22px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn--stripe {
  overflow: hidden;
  position: relative;
}

.btn--stripe:after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background-image: -webkit-repeating-linear-gradient(
    45deg,
    #666,
    #666 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    45deg,
    #666,
    #666 1px,
    transparent 2px,
    transparent 5px
  );
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #666;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}

.btn--stripe:disabled {
  background-color: #999;
  color: #fff;
  border-color: #666;
}

.btn--stripe:hover {
  background-color: #666;
  color: #fff;
  border-color: #000;
}

.btn--stripe:disabled:after,
.btn--stripe:hover:after {
  background-image: -webkit-repeating-linear-gradient(
    45deg,
    #fff,
    #fff 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 1px,
    transparent 2px,
    transparent 5px
  );
  border-top: 1px solid #000;
}

.hidden {
  display: none;
}


/******************** ANIMATION **********************/
main li{
  opacity: 0;
  animation-name: bounceIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

li{animation-delay: 0.10s;}
li:nth-child(2){animation-delay: 0.15s;}
li:nth-child(3){animation-delay: 0.20s;}
li:nth-child(4){animation-delay: 0.25s;}
li:nth-child(5){animation-delay: 0.30s;}
li:nth-child(6){animation-delay: 0.35s;}
li:nth-child(7){animation-delay: 0.40s;}
li:nth-child(8){animation-delay: 0.45s;}
li:nth-child(9){animation-delay: 0.50s;}
li:nth-child(10){animation-delay: 0.55s;}
li:nth-child(11){animation-delay: 0.60s;}
li:nth-child(12){animation-delay: 0.65s;}
li:nth-child(13){animation-delay: 0.70s;}
li:nth-child(14){animation-delay: 0.75s;}
li:nth-child(15){animation-delay: 0.80s;}
li:nth-child(16){animation-delay: 0.85s;}
li:nth-child(17){animation-delay: 0.90s;}
li:nth-child(18){animation-delay: 0.95s;}
li:nth-child(19){animation-delay: 1.00s;}
li:nth-child(20){animation-delay: 1.05s;}
li:nth-child(21){animation-delay: 1.10s;}
li:nth-child(22){animation-delay: 1.15s;}
li:nth-child(23){animation-delay: 1.20s;}
li:nth-child(24){animation-delay: 1.25s;}
li:nth-child(25){animation-delay: 1.30s;}
li:nth-child(26){animation-delay: 1.35s;}
li:nth-child(27){animation-delay: 1.40s;}
li:nth-child(28){animation-delay: 1.45s;}
li:nth-child(29){animation-delay: 1.50s;}

@keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}